<h1>Recupera tu cuenta</h1>
<p>Escribe tu correo en el siguiente campo. Cuando hayas enviado el formulario recibirás un correo para validar esta
    solicitud, si no lo ves en la
    bandeja de entrada revisa la carpeta de correo no deseado. Este correo tendrá un enlace el cual debes seguir para
    recibir más instrucciones.</p>
<form>
    <input type="text" id="email" name="email" placeholder="Correo electrónico" required>
    <button type="button" onclick="handleSubmit()">Enviar</button>
    <a href="/login">Cancelar</a>
</form>
<script>

const handleSubmit = async() => {
    const inputEmail = document.getElementById("email").value
    try {
        const response = await fetch(`/api/users/${inputEmail}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ email: inputEmail }),
        });
        if (response.status === 200) {
            alert('Se ha enviado un correo a tu dirección para recuperar tu contraseña');
        } else if(response.status === 404) {
            alert("No existe un usuario con ese correo")
        }else{
            console.log("Error al realizar la petición")
        }
    } catch (error) {
        console.error('Error:', error);
    }
}
</script>